.formRow
{
	clear:both;
	padding:3px;
	height:19px;
	font-size:1.3em;
}

.altRowColor
{
	background-color:#eee;
}

.formRow label
{
	display:block;
	width:140px;
	float:left;
}

.formRow input
{
	display:block;
	width:200px;
	float:left;
}
